<menu [ngClass]="isShown ? '' : 'menuHidden'">
    <div class="dropdown" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div [ngClass]="isShown ? 'date' : 'hidden'">
      <h3>Sobota</h3>
      <h2>4 Luty</h2>
      <h3>2023</h3>
    </div>
    <hr [ngClass]="isShown ? '' : 'hidden'">
    <nav [ngClass]="isShown ? '' : 'hidden'">
      <div class="statistics" routerLink="/statistics" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="img"></div>
        <p>Statistics</p>
      </div>
      <div class="users" routerLinkActive="activeUsers" ariaCurrentWhenActive="page">
        <div class="wrapper">
          <div class="img"></div>
          <p routerLink="/user-list">Users</p>
        </div>
        <ul class="hidden" routerLinkActive="ulactive">
          <li routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">User List</li>
          <li routerLink="/user-edit" routerLinkActive="active" ariaCurrentWhenActive="page">User Edit</li>
          <li routerLink="/roles-and-permissions" routerLinkActive="active" ariaCurrentWhenActive="page">Roles and Permissions</li>
          <li routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</li>
        </ul>
      </div>
    </nav>
  </menu>