<div class="bodywrapper">
  <app-menu></app-menu>
  <header>
    <div class="leftwrapper">
      <div class="count">
        <p>ZLECENIA</p>
        <p>245</p>
      </div>
      <div class="count">
        <p>DEPOZYTY</p>
        <p>245</p>
      </div>
      <div class="count">
        <p>ZAMÓWIENIA</p>
        <p>245</p>
      </div>
    </div>
    <div class="rightwrapper">
      <div class="notifications">
        <div class="img"><p>19</p></div>
      </div>
      <div class="account">
        <div class="wrapper">
          <div class="img"></div>
          <p>Warsztat A12</p>
        </div>
        <button>&#9662;</button>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>