@import "color-variables.scss";

.bodywrapper {
    
    button:hover {
        cursor: pointer;
        filter:brightness(0.9);
    }

    header {
        display: flex;
        flex-direction: row;
        height: 62px;
        border: 1px solid #DBDDE0;
        border-left: 0;
        box-shadow: 10px 4px 10px lightgray;
        z-index: 1;

        .leftwrapper {
            display: flex;
            width: 360px;

            .count {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 120px;
                height: 62px;
                border-right: 1px solid #DBDDE0;
                text-align: center;

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                }

                p:nth-child(1){
                    color: #9EA1A8;
                    font-size: 11px;
                }
            }
        }

        .rightwrapper{
            display: flex;
            margin-left: auto;

            .notifications {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 62px;
                height: 62px;
                border-left: 1px solid #DBDDE0;
                text-align: center;
                line-height: 62px;

                .img {
                    height: 40px;
                    width: 40px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("../assets/img/bell.png");

                    p {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        font-size: 9px;
                        padding: 0;
                        margin: 0;
                        background-color: #E5322C;
                        border-radius: 10px;
                        line-height: 17px;
                        color: white;
                        top: 10px;
                        margin-left: 20px;
                        border: 3px solid white;
                    }
                }
            }

            .notifications:hover {
                cursor: pointer;
            }

            .account {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 183px;
                height: 62px;
                border-left: 1px solid #DBDDE0;
                text-align: center;

                .wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 12px;
                    
                    .img {
                        width: 25px;
                        height: 25px;
                        background-image: url("../assets/img/Avatar.png");
                        margin-right: 15px;
                    }
                }

                button {
                    background: none;
                    border: none;
                    font-size: 20px;
                    color: #6E7075;
                    margin: 0;
                    padding: 0;
                }
            }

            .account:hover {
                cursor: pointer;
            }
        }
    }

        main {
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            background-color: #fbfbfb;
            z-index: 0;

            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 90px;
                margin-left: 25px;
                margin-right: 25px;

                .left {
                    display: flex;
                    flex-direction: column;

                    p, h2 {
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        font-size: 12px;
                        color: #6E7075;
                    }

                    h2 {
                        font-size: 22px;
                        font-weight: normal;
                        color: #325395;
                    }
                }
            }

            .useredit {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .left, .right {
                    all: unset;
                    height: 778px;
                    background-color: white;
                    border: 1px solid #DBDDE0;
                    border-radius: 5px;
    
                    nav {
                        all: unset;
                        border-bottom: 1px solid #DBDDE0;
                        margin: 0;
                        height: 52px;
                        display: flex;
                        align-items:flex-end;
    
                        .pwrapper {
                            box-sizing: border-box;
                            height: 34px;
                            padding-left: 20px;
                            padding-right: 20px;
                            font-size: 12px;
                        }
    
                        .pwrapper:hover {
                            border-bottom: 4px solid #5E92FC;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
        
                .left {
                    flex-basis: 60%;
                    margin-left: 25px;
    
                    .role {
                        height: 91px;
                        background-color: #fbfbfb;
                        border-bottom: 1px solid #DBDDE0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 32px;
                        padding-right: 32px;
    
                        .leftwrapper {
                            display: flex;
                            align-items: flex-end;
                            height: 24px;
    
                            h2 {
                                height: 24px;
                                font-size: 22px;
                                font-weight: normal;
                                margin: 0;
                                padding: 0;
                            }
    
                            p {
                                font-size: 16px;
                                color: #5E92FC;
                                margin: 0;
                                padding: 0;
                                margin-left: 5px;
                            }
                        }
    
                        .rightwrapper {
                            display: flex;
                            flex-direction: column;
                            margin-left: auto;

                            label {
                                font-size: 11px;
                                padding-left: 10px;
                            }

                            select {
                                height: 36px;
                                width: 230px;
                                padding-left: 12px;
                                padding-right: 12px;
                                border: 1px solid #DBDDE0;
                                border-radius: 2px;
                            }
                        }
    
                    }
    
                    .table {
                        padding-left: 24px;
                        padding-right: 24px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
    
                        .head {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 100%;
                            height: 37px;
                            border-bottom: 2px solid #DBDDE0;
                            font-size: 12px;
                            font-weight: bold;
                            padding-left: 12px;
    
                            p {
                                width: 50%;
                            }
                        }
    
                        .category {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 100%;
                            height: 37px;
                            background-color: #fbfbfb;
                            color: #6E7075;
                            border-bottom: 2px solid #DBDDE0;
                            font-size: 12px;
                            font-weight: bold;
                            padding-left: 12px;
                        }
    
                        .content {
                            display: flex;
                            flex-direction:row;
                            flex-wrap: wrap;
                            width: 100%;
    
                            .list {
                                display: flex;
                                width: 100%;
    
                                div {
                                    display: flex;
                                    align-items: center;
                                    width: 50%;
                                    height: 37px;
                                    border-bottom: 2px solid #DBDDE0;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-left: 12px;
    
                                    button {
                                        margin: 8px;
                                        padding: 4px 6px;
                                        border: none;
                                        border-radius: 2px;
                                        font-size: 9px;
                                        color: white;
                                    }
    
                                    .create {
                                        background-color: #DBDDE0;
                                    }
    
                                    .read {
                                        background-color: #7EA8FD;
                                    }
    
                                    .update {
                                        background-color: #00A1A1;
                                    }
    
                                    .delete {
                                        background-color: #D92F2A;
                                    }
                                }
                            }
                            
                        }
                    }
    
                }
        
                .right {
                    flex-basis: 40%;
                    margin-left: 15px;
                    margin-right: 25px;


                    .head {
                        display: flex;
                        align-items: center;
                        height: 63px;
                        margin-left: 16px;
                        margin-right: 16px;
                        border-bottom: 1px solid #DBDDE0;
                        padding-left: 16px;

                        label{
                            color: #325395;
                            font-size: 18px;
                        }
                    }
                    

                    form {
                        height: 210px;
                        display: flex;
                        padding: 32px;

                        .left, .right {
                            all: unset;
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                        }
                        
                        .right {
                            margin-left: 40px;
                        }

                        input,select {
                            height: 36px;
                            margin-bottom: 16px;
                            border: 1px solid #DBDDE0;
                            border-radius: 2px;
                            font-size: 12px;
                            padding-left: 12px;
                            padding-right: 12px;
                        }

                        .file {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            height: 122px;
                            margin-bottom: 16px;
                            border: 1px dashed #DBDDE0;
                            border-radius: 2px;

                            .img {
                                width: 40px;
                                height: 40px;
                                background-image: url("../assets/img/spreadsheets_ico.png");
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            p {
                                padding: 0;
                                margin: 0;
                            }

                            p:nth-child(3){
                                font-size: 12px;
                                color: #5E92FC;
                            }

                            p:nth-child(4){
                                font-size:11px;
                                color: #9EA1A8;
                            }

                            input[type="file"] {
                                display: none;
                            }
                        }

                        label {
                            font-size: 11px;
                        }
                    }
                }
            }
            
        }
    }

